<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Constellation Logger</title>

  <style>
      hr {
      width: 100%;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: #b7d0e2;
      }
    </style>
</head>
<body>
<!-- Main Body of Page -->

<div class="container">
  <div class="row m-2">

    <div class="col text-right m-100">
      <a href="login" class="btn btn-outline-primary btn-lg">Login</a>
      <a href="account" class="btn btn-outline-primary btn-lg">Account</a>
    </div>


  </div>
  <hr />
  <div class="row m-1">
    <div class="col text-center ">
      <h1 >Constellation Logger</h1>
    </div>
  </div>

  <div class="row m-1">
    <div class="col text-center m-1">
      <a href="constellations" class="btn btn-outline-primary btn-lg">Constellations</a>
    </div>
    <div class="col text-center m-1">
      <a href="logs" class="btn btn-outline-primary btn-lg">Logs</a>
    </div>
  </div>
  <hr />
</div>

<!--New Log-->

<div class="container">
  <div class="text-center m-3">   <!--  col-[number] says the column location -->
    <span class="h3">Create New Log</span>
  </div>
  <div class="text-center m-3" >
    <!--            <div class="col-7 text-center m-3" style="display:none;"> to hide it from the site-->
    <form action="newLog" method="GET">
      <div class="form-group row">
        <label for="logDate" class="col-3 col-form-label">
          Date</label>
        <div class="col-9">
          <input type="date" name="logDate"
                 id="logDate" placeholder="Date"  class="form-control"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="locationName" class="col-3 col-form-label">
          Location Name</label>
        <div class="col-9">
          <input type="text" name="locationName"
                 id="locationName" placeholder="Location Name" class="form-control"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="lat" class="col-3 col-form-label">
          Latitude</label>
        <div class="col-9">
          <input type="text" name="lat"
                 id="lat" placeholder="Latitude" class="form-control"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="constellationList" class="col-3 col-form-label">
          Constellations</label>
        <div class="col-9">
          <select multiple id="constellationList" name="abbr"
                  class="form-control" >
            <option th:each="con : ${constellationList}"
                    th:value="${con.abbr}"
                    th:text="${con.latinName}">
              Constellations</option>
          </select>

        </div>
      </div>
      <div class="form-group row">
        <label for="extraInfo" class="col-3 col-form-label">
          Extra Info</label>
        <div class="col-9">
          <textarea type="text" name="extraInfo"
                 id="extraInfo" placeholder="Extra Info" class="form-control"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary ">Add Teacher</button>
    </form>
  </div>
</div>



<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>;

