<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Account</title>

    <style>
      hr {
      width: 100%;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: #b7d0e2;
      }


    </style>
</head>
<body>

<!--errors-->
<div class="col-12 m-1 text-center"
     th:if="${!errors.isEmpty()}">
    <p class="alert alert-danger" th:each="error : ${errors}"
       th:text="${error.message}">Error message</p>
</div>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-2">

        <div class="col text-right m-100">
            <a href="login" class="btn btn-outline-primary btn-lg">Login</a>
            <a href="account" class="btn btn-outline-primary btn-lg">Account</a>
            <a href="logout" class="btn btn-outline-primary btn-lg">Logout</a>
        </div>


    </div>
    <hr/>
    <div class="row m-1">
        <div class="col text-center ">
            <h1>Constellation Logger</h1>
        </div>
    </div>

    <div class="row m-1">
        <div class="col text-center m-1">
            <a href="constellations" class="btn btn-outline-primary btn-lg">Constellations</a>
        </div>
        <div class="col text-center m-1">
            <a href="logs" class="btn btn-outline-primary btn-lg">Logs</a>
        </div>
    </div>
    <hr/>
</div>


<!--user details + edit -->
<div class="container">
    <div class="row m-2">
        <div class="col text-center m-3" style="text-align: left;">   <!--  col-[number] says the column location -->
            <span class="h2">User Details</span>

            <div class="text-center m-3" style="text-align: left;">
                <!--            <div class="col-7 text-center m-3" style="display:none;"> to hide it from the site-->
                <form action="editUserDetails" method="POST">
                    <div class="form-group row">
                        <label for="newEmail" class="col-3 col-form-label">
                            Email</label>
                        <div class="col-9">
                            <input type="text" name="newEmail"
                                   id="newEmail" placeholder="Email" class="form-control" th:value="${currentUser.email}" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newFirstName" class="col-3 col-form-label">
                            First Name</label>
                        <div class="col-9">
                            <input type="text" name="newFirstName"
                                   id="newFirstName" placeholder="First Name" class="form-control" th:value="${currentUser.userFirstName}" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newLastName" class="col-3 col-form-label">
                            Last Name</label>
                        <div class="col-9">
                            <input type="text" name="newLastName"
                                   id="newLastName" placeholder="Last Name" class="form-control" th:value="${currentUser.userLastName}" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="addedPremium" class="col-3 col-form-label">
                            Premium</label>
                        <div class="col-6">
                            <input type="checkbox" id="addedPremium" name="addedPremium" value="true"/><br/>
                            <!--                    <input type="text" name="addedPremium"-->
                            <!--                           id="addedPremium" placeholder="Username"  class="form-control"/>-->
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary ">Edit Details</button>
                    <a href="deleteUser" class="btn btn-primary">Delete Account</a>

                </form>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row m-2">
                <div class="col text-center m-3" style="text-align: left;">   <!--  col-[number] says the column location -->
                    <span class="h2">Change Password</span>

                    <div class="text-center m-3" style="text-align: left;">
                        <!--            <div class="col-7 text-center m-3" style="display:none;"> to hide it from the site-->
                        <form action="editUserPassword" method="POST">
                            <div class="form-group row">
                                <label for="newPassword1" class="col-3 col-form-label">
                                    New Password</label>
                                <div class="col-9">
                                    <input type="password" name="newPassword1"
                                           id="newPassword1" placeholder="Password" class="form-control"  required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newPassword2" class="col-3 col-form-label">
                                    Retype New Password</label>
                                <div class="col-9">
                                    <input type="password" name="newPassword2"
                                           id="newPassword2" placeholder="Password" class="form-control"  required/>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary ">Change Password</button>
                        </form>
                    </div>
                </div>




            </div>

        </div>

    </div>
</div>

<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>;

